*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.nav{
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
#nav-text{
  color: white;
  padding-left: 10px;
}
#logo{
  width: 25px;
}

#locationicon{
  width: 10px;
  height: 15px;
}

#main-flex{
  display: flex;
  margin: 20px;
  width: 700px;
}
#image-div{
  margin-right: 20px;
}
#country-div{
  display: flex;
  font-size: 13px;
}
.country-objs{
  margin-right: 10px;
}
#country-div>p>a{
  color: #918E9B;
}
#date{
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 15px;
}
#text{
  font-size: 13px;
}
#title{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

#all{
  display: flex;
  justify-content: center;
}

@media (max-width: 400px) {
  #locationicon{
    width: 7px;
    height: 12px;
  }
  #country-div{
    font-size: 10px;
  }
  #title{
    font-size: 16px;
    margin-bottom: 10px;
  }
  #date{
    font-size: 10px;
  }
  #text{
    font-size: 11px;
  }
}
